   <div class = "side-bar-header">
    <div class = "header-name">
      <a href="#">情報論</a>
    </div>
    <div class = "create-room">
      <a href = "#">チャットを作成する</a>
    </div>  
  </div>
  
  <div class = "rooms">
    <div class = "room">
      <div class ="room-name"><a href="#">第1回</a>
      </div>
    </div>

    <div class = "room">
      <div class ="room-name"><a href="#">第2回</a>
      </div>
    </div>

    <div class = "room">
      <div class ="room-name"><a href="#">第3回</a>
      </div>
    </div>
    <div class = "room">
      <div class ="room-name"><a href="#">第4回</a>
      </div>
    </div>
  </div>